img {
    width: 80px;
    height: 80px;
}

.navbar-brand {
    color: bisque;
}

.nav-link {
    color: bisque;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #313033;
    height: 10vh;
    margin-bottom: 30px;
  }